- model_class = local_assigns[:collection].nil? ? local_assigns[:class] : local_assigns[:collection].model
- if (model_class.present? && can?(:download, model_class))
  .btn-group
    = link_to params.permit!.merge({:format => :xlsx}), :class => "btn btn-outline-primary" do
      = t("download")
      %i.bi.bi-download

    - if local_assigns[:downloads] && downloads.length > 0

      %button.btn.btn-outline-primary.dropdown-toggle{type: "button", data: {"bs-toggle": "dropdown"}}
      %ul.dropdown-menu
        - downloads.each do |d|
          %li
            = link_to d[:title], d[:href], class: "dropdown-item"
