- cls = local_assigns[:large].nil? ? "btn-sm" : ""
= link_to "#customize-items", "title": t('custom_table.customize_search'), "data-bs-target"=>"#customize-items", "data-bs-toggle"=>"modal", :class => "btn btn-outline-primary #{cls}" do
  %i.fa.fa-cog
