
table.custom-table {

  td.actions {
    white-space: nowrap;
    width: 85px;
  }
  a.sort_link {
    text-decoration: none !important;
    white-space: nowrap;
  }
  td.selected {
    outline: 2px solid rgb(26, 179, 26) !important;
  }

  tr {
    .action {
      visibility: hidden;
      &.btn-sm {
        padding: 2px 4px !important;
      }
    }
    .d-action-none {
      display: none;
    }


    &:hover {
      .action {
        visibility: visible;
      }
      .d-action-none {
        display: inherit;
      }
    }

    .checkbox-col {
      width: 20px;
    }

  }

  tr.sticky, thead.sticky {
    position: sticky;
    background: white;
    z-index: 1;
  }

  @include media-breakpoint-up(lg) {
    thead.sticky-lg-top {
      position: sticky;
      background: white;
      z-index: 1;
    }
  }

  th.sticky-left, td.sticky-left {
    position: sticky;
    left: 0px;
    background: white;
  }
  .text-sm {
    font-size: 11px;
  }

  .tree-handler {
    overflow: hidden;
    text-align: center;
    .tree-opener {
      position: relative;
      &.opened {
        &::after {
          content: '';
          border-left: 2px dotted gray;
          position: absolute;
          right: calc(50% - 1px);
          top: 50%;
          height: 200px;
        }
      }
    }
  }

  .tree-child-handler {
    overflow: hidden;
    text-align: center;
    height: 1px;

    .tree-arrow {
      position: relative;
      height: 100%;
      display: block;

      &::before {
        content: '';
        border-top: 2px dotted gray;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100px;
      }

      &::after {
        content: '';
        border-left: 2px dotted gray;
        position: absolute;
        right: calc(50% - 1px);
        top: -100px;
        height: 200px;
      }
    }

    &.last-child {
      .tree-arrow {
        &::after {
          bottom: 50% !important;
          top: auto !important;
        }
      }
    }

  }

  .child-row .first-field {
    position: relative;
    padding-left: 20px;
    &::before {
      content: "á—’";
      position: absolute;
      left: 0;
      top: calc(50% - 0.59em)
    }
  }

  .tree-opener {
    cursor: pointer;
    .opened {
      display: none;
    }
    &.opened {
      .opened {
        display: inline;
      }
      .closed {
        display: none;
      }
    }
  }
  
  .table-sum {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 150px;
    background: white;
    border: 2px solid black;
    padding: 2px;
    text-align: right;
    margin-right: 5px;
    z-index: 1000;
  }

}

.batch-hidden {
  th.checkbox-col, td.checkbox-col {
    display: none;
  }
  .batch-actions {
    display: none;
  }
}

.card-table {
  .batch-actions {
    padding-left: 1.25rem;
  }
  tbody {
    background: white;
  }
  &.batch-hidden {
    tr td:nth-child(2), tr th:nth-child(2) {
      padding-left: 1.25rem;
    }
  }
}

.custom-table {
  .form-check-input-sm {
    width: 1.00rem;
    height: 1.00rem;
  }
}

.widget table.custom-table td {
  max-width: 120px;
  overflow: hidden;
}

@include media-breakpoint-down(md) {
  .custom-table-filter {
    > :not(.has-value, .btn-group, .sm-visible) {
      display: none;
    }
    &.show-all {
      > :not(.has-value, .btn-group, .sm-visible) {
        display: block;
      }
    }
  }

}


@include media-breakpoint-down(lg) {
  .overflow-x-lg-scroll {
    overflow-x: scroll;
  }

}

@include media-breakpoint-up(sm) {
  .custom-table-settings {
    columns: 2
  }
}


@include media-breakpoint-up(lg) {
  .modal-lg, .modal-xl {
    .custom-table-settings {
      columns: 3
    }
  }
}

.card > .custom-table-pagination {
  padding: 10px 20px;
}